.hero{
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  background: black;
  overflow: hidden;
  color: white;
  padding: 5rem 0;

  .container{
    align-items: center;
  }

  &--videoBg{
    min-height: 100vh;
    margin-top: -100px;
  }
  &--whiteBg{
    background: white;
    color: black;
  }
}


@media(min-width: $breakpoint_sm_max + 1){
}

@media(min-width: $breakpoint_md_max + 1){
}

@media(min-width: $breakpoint_lg_max + 1){
  .hero{
    min-height: 100vh;
  }  
}

@media(min-width: $breakpoint_xl_max + 1){
}

@media(min-width: $breakpoint_xxl_max + 1){
}