html{
  font-size: 12px;
}

a{
  cursor: pointer;
}

p,h1,h2,h3,h4,h5{
  display: block;
  margin-bottom: 0.5rem;
}

h1, .h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2, .h2 {
  font-size: 3.5rem;
  font-weight: bold;
}
h3, .h3 {
  font-size: 3rem;
  font-weight: bold;
}
h4, .h4 {
  font-size: 2rem;
  font-weight: bold;
}
h5, .h5 {
  font-size: 1rem;
  font-weight: bold;
}

.sh1{
  font-size: 4,5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  margin-left: 1.5rem;
  li{
    list-style: disc;
  }
}




@media(min-width: $breakpoint_sm_max + 1){
  html{
    font-size: 12px;
  }
}

@media(min-width: $breakpoint_md_max + 1){
  html{
    font-size: 13px;
  }

  .sh1{
    font-size: 4.5rem;
  }
}

@media(min-width: $breakpoint_lg_max + 1){
  html{
    font-size: 14px;
  }

  .sh1{
    font-size: 5rem;
  }
}

@media(min-width: $breakpoint_xl_max + 1){
  html{
    font-size: 15px;
  }

  .sh1{
    font-size: 6rem;
  }
}

@media(min-width: $breakpoint_xxl_max + 1){
  html{
    font-size: 16px;
  }
}