$breakpoint_xs_max: 0;
$breakpoint_sm_max: 576px;
$breakpoint_md_max: 768px;
$breakpoint_lg_max: 992px;
$breakpoint_xl_max: 1200px;
$breakpoint_xxl_max: 1500px;

$container_xs: 100%;
$container_sm: 100%;
$container_md: 100%;
$container_lg: 900px;
$container_xl: 1100px;
$container_xxl: 1300px;